:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

header {
  margin-bottom: 3.5em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  padding: 10px;
}

textarea {
  resize: none;
  padding: 10px;
}

textarea::placeholder {
  font-family: Inter, system-ui;
}

#root {
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
}

.column {
  flex-basis: calc(50% - 1rem);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .column {
    flex-basis: 100%;
  }
}

.btn-secondary {
  background-color: #646cff;
}

.btn-secondary:hover {
  border-color: #fff;
}

.form-students {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textarea-students {
  height: 400px;
  overflow-y: scroll;
}

.result {
  display: flex;
  flex-direction: column;
}

.table-container {
  overflow-y: scroll;
  max-height: 700px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 0.8em;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid #444;
}

th {
  font-weight: 600;
  background-color: #3c3c3c;
}

tr:hover {
  background-color: #3c3c3c;
}
